:root {
    --white: #fff;
    --shadow: 0 0 10px rgba(255, 255, 255, .4);
    --btn-bg: #5b43b3;
    --btn-hover: #7761c5;
    --light-bg: #f0f1fd;
  
    --light-black: rgba(0, 0, 0, 0.8);
    --light-white: rgba(255, 255, 255, .8);
    --transition: all 0.3s ease;
  }