@use "variables" as v;

.switch-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    margin-top: 5rem;
  }
  
  .switch {
    all: initial;
    background: v.$btn-bg;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    display: flex;
    outline: none;
    font-size: 1rem;
    position: absolute;
    top: 2rem;
    right: 3.5rem;
  
    &:hover {
      background: v.$btn-hover;
    }
  }

  .switch {
    &::after {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      position: absolute;
      background: v.$white-switch;
      top: 0;
      left: 0;
      right: unset;
      border-radius: 100px;
      transition: .3s ease all;
      box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
  
    &.active {
      background-color: v.$orange;;
      color: #000;
  
      &::after {
        right: 0;
        left: unset;
      }
    }
  
    span {
      width: 25px;
      height: 25px;
      line-height: 30px;
      display: flex;
      background: none;
      color: #fff;
      justify-content: center;
      align-items: center;
    }
  }

  body.dark {
    background-color: v.$background;
    .switch:hover {
      background: v.$orange;
    }

    .hero__section::before {
      background-color: v.$background;
    }

    .about__section {
      background-color: v.$background;
      color: #e3e6fc;

      .square__container::after {
        background: linear-gradient(45deg, transparent, v.$surface-variant);
      
      }

      .frame__container::after {
        border-color: v.$surface-variant;
      }
    }
  
    .card__section {
      &::before {
        background-color: v.$background;
      }

  
      background-color: v.$background;

      .card {
        background-color: v.$background;
        border-color: v.$primary-dark;
        color: v.$primary-dark;

        &:hover {
            background: transparent;
        }
      }
    }

    nav.mobile-nav{
        background-color: v.$background;

        &.is-active {
            background-color: v.$background;
        }
    }

    .hero__section-contact img {
       
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
    }

    .contact__section {
        background-color: v.$background;

        .contact__section-card {
            background-color: v.$background;
            border-color: v.$primary-dark;

            &:hover {
                color: v.$primary-dark;
            }

            a {
                color: v.$primary-dark;

                &:hover {
                    color: #fff;
                    text-decoration: underline solid v.$primary-dark;
                }
            }
        }

        form {
            box-shadow: v.$darkShadow;
        }

        input:not(input[type='submit']),
        textarea {
            background-color: v.$surface-variant;

            &::placeholder {
                color: v.$on-secondary-container;
            }

            &:focus {
                box-shadow: v.$darkShadow;
            }
        }

      

        label,
        legend {
            color: v.$on-secondary-container;
        }

    }

    .slider-section {
        background-color: v.$background;

        .slider::before,
        .slider::after {
            background-image: linear-gradient(to var(--gr-direction, right), v.$background 0%, transparent 100%);
        }
    }

    header {
      background-color: v.$header-footer;
      margin-top: -5rem;
      padding-top: 5rem;
    }
  
    footer {
      background-color: v.$header-footer;
      height: 100vh;
      padding-top: 5rem;
      margin-bottom: -5rem;
    }
  
    nav a, .text__section p, footer p {
      color: v.$primary-dark;
    }
  
    .footer__content-item {
      color: v.$primary-dark;
  
      a {
        color: v.$primary-dark;
      }
    }
  
    .footer__content-socials a {
      color: v.$secondary-dark;
    }
  
    .hero__section {
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
    }
  
    div.bar {
      background-color: v.$primary-dark;
    }
  
    .burger {
      &::before, &::after {
        background-color: v.$primary-dark;
      }
    }
  }

  .logo-dark:not(footer .logo) {
    margin-left: -9rem;
  }
  
