<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <a href="../index.html"
          ><img class="logo" src="../assets/img/logo.svg" alt=""
        /></a>
        <nav>
          <a href="../index.html">Inicio</a>
          <a href="#">Acerca de</a>
          <a href="./gallery.html">Galería</a>
          <a href="./contact.html">Contacto</a>
        </nav>
        <button class="burger">
          <div class="bar"></div>
        </button>
      </div>
    </header>
    <nav class="mobile-nav">
      <a href="../index.html">Inicio</a>
      <a href="#">Acerca de</a>
      <a href="./gallery.html">Galería</a>
      <a href="./contact.html">Contacto</a>
    </nav>

    <section class="about__section">
      <p>
        Nuestra empresa surge del apasionado encuentro entre la innovación
        tecnológica y el compromiso con la preservación del entorno natural. Nos
        dedicamos a fusionar la vanguardia tecnológica con la conciencia
        ecológica para desarrollar soluciones que impulsen el cuidado de nuestro
        planeta. Guiados por la convicción de que la tecnología puede ser una
        aliada poderosa en la protección del medio ambiente, nos esforzamos por
        crear productos y servicios que no solo revolucionen la industria, sino
        que también fomenten la sostenibilidad y la armonía con la naturaleza.
      </p>
      <div class="frame__container">
        <img
          class="about__image-computer"
          src="../assets/img/about-computer.jpg"
          alt=""
        />
      </div>

      <p>
        Nuestro compromiso con la excelencia nos impulsa a buscar constantemente
        la innovación. Colaboramos con reconocidos expertos en tecnología y
        medio ambiente para desarrollar soluciones que marcan la diferencia.
        Desde sistemas de monitoreo ambiental hasta algoritmos inteligentes para
        optimizar recursos, nuestro enfoque es claro: crear un impacto positivo
        a través de la tecnología. La esencia de nuestra empresa radica en el
        equilibrio entre la vanguardia tecnológica y la conservación de la
        naturaleza. Nos esforzamos por alcanzar el máximo rendimiento en
        nuestras actividades, siempre manteniendo un profundo respeto por el
        entorno que nos rodea. Nos enorgullecemos de nuestra participación
        activa en proyectos que buscan mitigar el cambio climático y preservar
        la biodiversidad. Nuestro compromiso con la responsabilidad ambiental
        nos impulsa a colaborar con comunidades locales, gobiernos y
        organizaciones internacionales para implementar soluciones sostenibles y
        accesibles. Creemos firmemente que la tecnología, cuando se aplica con
        conciencia y responsabilidad, puede ser una fuerza transformadora para
        un futuro más próspero y equitativo. Seguimos trabajando incansablemente
        para lograr un mundo donde la tecnología y la naturaleza converjan en
        armonía para el beneficio de todos
      </p>
      <div class="square__container">
        <img
          class="about__image-enterpreneur"
          src="../assets/img/girl-476977_1920.jpg"
          alt=""
        />
      </div>
    </section>
    <section>
    

    <footer>
      <a href="#"><img class="logo" src="../assets/img/logo.svg" alt="" /></a>
      <div class="footer__content">
        <div class="footer__content-item">
          <h4>Servicios</h4>
          <ul>
            <li><a href="#">Rutas</a></li>
            <li><a href="#">Aventuras</a></li>
            <li><a href="#">Deportes de riesgo</a></li>
          </ul>
        </div>
        <div class="footer__content-item">
          <h4>Sobre nosotros</h4>

          <ul>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Misión</a></li>
            <li><a href="#">Visión</a></li>
          </ul>
        </div>
        <div class="footer__content-item">
          <h4>Nuestra empresa</h4>
          <p>
            Nuestra empresa, dedicada a la conexión con la naturaleza, se
            esfuerza por ofrecer experiencias únicas en paseos por montañas y
            entornos naturales. Nos enorgullece guiar a nuestros clientes a
            través de senderos serenos, explorando la belleza virgen de la
            naturaleza.
          </p>
        </div>
      </div>
      <div class="footer__content-socials">
        <a
          class="social"
          href="https://www.linkedin.com/in/david-menendez-blanco-056a18252/"
          target="_blank"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a class="social" href="https://github.com/DavCode46" target="_blank"
          ><i class="fa-brands fa-square-github"></i
        ></a>
        <a class="social" href="https://davcode.dev" target="_blank"
          ><i class="fa-brands fa-chrome"></i
        ></a>
      </div>
      <p>&copy; 2024 | Todos los derechos reservados</p>
    </footer>

    <script
      src="https://kit.fontawesome.com/c3db1c8a5f.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/index.js" type="module"></script>
  </body>
</html>
