<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galería</title>

    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <a href="../index.html"
          ><img class="logo" src="../assets/img/logo.svg" alt=""
        /></a>
        <nav>
          <a href="../index.html">Inicio</a>
          <a href="./about.html">Acerca de</a>
          <a href="#">Galería</a>
          <a href="./contact.html">Contacto</a>
        </nav>
        <button class="burger">
          <div class="bar"></div>
        </button>
      </div>
    </header>
    <nav class="mobile-nav">
      <a href="../index.html">Inicio</a>
      <a href="./about.html">Acerca de</a>
      <a href="#">Galería</a>
      <a href="./contact.html">Contacto</a>
    </nav>

    <div class="slider-section">

        <div class="slider banner-slider" data-slider>
    
          <div class="slider-container" data-slider-container>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 1000; --height: 560;">
                <img src="../assets/img-slider/slider8.avif" width="1000" height="560" alt="" class="img-cover">
              </div>
            </div>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 1000; --height: 560;">
                <img src="../assets/img-slider/slider2.avif" width="1000" height="560" alt="" class="img-cover">
              </div>
            </div>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 1000; --height: 560;">
                <img src="../assets/img-slider/slider3.avif" width="1000" height="560" alt="" class="img-cover">
              </div>
            </div>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 1000; --height: 560;">
                <img src="../assets/img-slider/slider4.avif" width="1000" height="560" alt="" class="img-cover">
              </div>
            </div>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 1000; --height: 560;">
                <img src="../assets/img-slider/slider5.avif" width="1000" height="560" alt="" class="img-cover">
              </div>
            </div>
    
          </div>
    
          <button class="btn-icon slider-control prev" data-slider-prev>
            <ion-icon name="arrow-back-sharp"></ion-icon>
          </button>
    
          <button class="btn-icon slider-control next" data-slider-next>
            <ion-icon name="arrow-forward-sharp"></ion-icon>
          </button>
    
        </div>
    
        <div class="slider card-slider" data-slider>
    
          <div class="slider-container" data-slider-container>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider1.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider2.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider6.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider4.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider5.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider7.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>
    
          </div>
    
          <button class="btn-icon slider-control prev" data-slider-prev>
            <ion-icon name="arrow-back-sharp"></ion-icon>
          </button>
    
          <button class="btn-icon slider-control next" data-slider-next>
            <ion-icon name="arrow-forward-sharp"></ion-icon>
          </button>
    
        </div>
    
        <div class="slider card-slider" data-slider>
    
          <div class="slider-container" data-slider-container>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider13.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider15.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider9.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider10.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider11.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>

            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider12.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>
    
          </div>
    
          <button class="btn-icon slider-control prev" data-slider-prev>
            <ion-icon name="arrow-back-sharp"></ion-icon>
          </button>
    
          <button class="btn-icon slider-control next" data-slider-next>
            <ion-icon name="arrow-forward-sharp"></ion-icon>
          </button>
    
        </div>
    
        <div class="slider card-slider" data-slider>
    
          <div class="slider-container" data-slider-container>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider19.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider20.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>
    
            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider15.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>

            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider16.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>

            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider17.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>

            <div class="slider-item">
              <div class="slider-card img-holder" style="--width: 500; --height: 750;">
                <img src="../assets/img-slider/slider18.avif" width="500" height="750" alt="" class="img-cover">
              </div>
            </div>
    
          </div>
    
          <button class="btn-icon slider-control prev" data-slider-prev>
            <ion-icon name="arrow-back-sharp"></ion-icon>
          </button>
    
          <button class="btn-icon slider-control next" data-slider-next>
            <ion-icon name="arrow-forward-sharp"></ion-icon>
          </button>
    
        </div>
    
      </div>
    
    
    <!-- <section>
      <section class="slider">
        <article class="slider-inner" id="slider-inner">
          <img src="../assets/img-slider/slider1.avif" />
          <img src="../assets/img-slider/slider2.avif" />
          <img src="../assets/img-slider/slider3.avif" />
          <img src="../assets/img-slider/slider4.avif" />
          <img src="../assets/img-slider/slider5.avif" />
        </article>
      </section>
    </section>  -->

    <footer>
      <a href="#"><img class="logo" src="../assets/img/logo.svg" alt="" /></a>
      <div class="footer__content">
        <div class="footer__content-item">
          <h4>Servicios</h4>
          <ul>
            <li><a href="#">Rutas</a></li>
            <li><a href="#">Aventuras</a></li>
            <li><a href="#">Deportes de riesgo</a></li>
          </ul>
        </div>
        <div class="footer__content-item">
          <h4>Sobre nosotros</h4>

          <ul>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Misión</a></li>
            <li><a href="#">Visión</a></li>
          </ul>
        </div>
        <div class="footer__content-item">
          <h4>Nuestra empresa</h4>
          <p>
            Nuestra empresa, dedicada a la conexión con la naturaleza, se
            esfuerza por ofrecer experiencias únicas en paseos por montañas y
            entornos naturales. Nos enorgullece guiar a nuestros clientes a
            través de senderos serenos, explorando la belleza virgen de la
            naturaleza.
          </p>
        </div>
      </div>
      <div class="footer__content-socials">
        <a
          class="social"
          href="https://www.linkedin.com/in/david-menendez-blanco-056a18252/"
          target="_blank"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a class="social" href="https://github.com/DavCode46" target="_blank"
          ><i class="fa-brands fa-square-github"></i
        ></a>
        <a class="social" href="https://davcode.dev" target="_blank"
          ><i class="fa-brands fa-chrome"></i
        ></a>
      </div>
      <p>&copy; 2024 | Todos los derechos reservados</p>
    </footer>

    <script
      src="https://kit.fontawesome.com/c3db1c8a5f.js"
      crossorigin="anonymous"
    ></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="../js/index.js" type="module"></script>
    <script src="../js/slider.js"></script>
  </body>
</html>
